.spacer {
    flex: 1 1 auto;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.dialog-button-container {
    display: flex;
    flex-direction: row;
    
}