<mat-dialog-content>
  <form #addForm="ngForm" [formGroup]="addressService.addressForm" (ngSubmit)="onSubmit(addForm.value)">
    <mat-form-field>
      <input matInput formControlName ="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="address" placeholder="Address">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName= "email" placeholder="Email">
    </mat-form-field>
<div>
  <button class="btn" mat-dialog-close mat-stroked-button color="primary" type="submit" [disabled]="!addressService.addressForm.valid">Submit</button>
  <button class="btn" mat-button (click)="onClose()">Close</button>
</div>
</form>