/* /* table {
    width: 100%;
  } */
  .table-container {
    height: 400px;
    max-width: 100%;
    overflow: auto;
    border: 1px solid steelblue;
    border-radius: 5px;
  } 
  .mat-header-row-cell {
    background: black;
  }

  th {
    color: white;
  }